<Article/String/=/Tshirt>=<Usage/String/=/Casual>,<Position/String/=/Torso>,<Season/String/=/Summer>,<SleeveLength/String/=/Short>,<Material/String/=/Cotton>,

<Article/String/=/Pant>=<Usage/String/=/Casual>,<Position/String/=/Legs>,<Season/String/=/Winter>,<Temperature/Double/</28.0>,<Material/String/=/Jean>,<Length/String/=/Long>,

<Article/String/=/Short>=<Usage/String/=/Casual>,<Position/String/=/Legs>,<Season/String/=/Summer>,<Temperature/Double/>=/28.0>,<Material/String/=/Cotton>,<Length/String/=/Short>,

<Article/String/=/Underwear>=<Usage/String/=/Protection>,<Position/String/=/Legs>,<Material/String/=/Cotton>,<Length/String/=/Short>,

<Article/String/=/Boot>=<Usage/String/=/Casual>,<Position/String/=/Feet>,<Season/String/=/Winter>,<Gender/String/=/Female>,<Material/String/=/Suede>,<Length/String/=/Long>,

<Article/String/=/Running>=<Usage/String/=/Sport>,<Position/String/=/Feet>,<Material/String/=/Mesh>,<Length/String/=/Short>,

<Article/String/=/Glove>=<Usage/String/=/Protection>,<Usage/String/=/Accessory>,<Position/String/=/Hand>,<Material/String/=/Cotton>,<Length/String/=/Short>,<Season/String/=/Winter>,<Temperature/Double/<=/5.0>,

<Article/String/=/Sweatshirt>=<Usage/String/=/Casual>,<Usage/String/=/Protection>,<Position/String/=/Torso>,<Material/String/=/Cotton>,<SleeveLength/String/=/Long>,<Length/String/=/Long>,<Season/String/=/Winter>,<Temperature/Double/<=/17.0>,

<Article/String/=/Pull>=<Usage/String/=/Casual>,<Position/String/=/Torso>,<Material/String/=/CottonVoile>,<SleeveLength/String/=/Long>,<Length/String/=/Long>,<Season/String/=/Winter>,<Temperature/Double/<=/21.0>,

<Article/String/=/Jacket>=<Usage/String/=/Casual>,<Usage/String/=/Protection>,<Position/String/=/Torso>,<Material/String/=/Fur>,<SleeveLength/String/=/Long>,<Length/String/=/Long>,<Season/String/=/Winter>,<Temperature/Double/<=/12.0>,

<Article/String/=/Skirt>=<Usage/String/=/Casual>,<Gender/String/=/Female>,<Position/String/=/Legs>,<Material/String/=/Cotton>,<Length/String/=/Medium>,<Season/String/=/Spring>,<Temperature/Double/>=/20.0>,

<Article/String/=/Top>=<Usage/String/=/Casual>,<Gender/String/=/Female>,<Position/String/=/Torso>,<Material/String/=/CottonVoile>,<Length/String/=/Long>,<SleeveLength/String/=/Long>,<Season/String/=/Autumn>,<Temperature/Double/>=/18.0>,

<Article/String/=/Skirt>=<Usage/String/=/Casual>,<Usage/String/=/Party>,<Gender/String/=/Female>,<Position/String/=/Legs>,<Material/String/=/CottonVoile>,<Length/String/=/Long>,

<Article/String/=/Watch>=<Usage/String/=/Casual>,<Usage/String/=/Accessory>,<Position/String/=/Wrist>,<Material/String/=/Metal>,<Size/String/=/Short>,<Season/String/=/Winter>,<Temperature/Double/<=/5.0>,

<Article/String/=/Bag>=<Usage/String/=/Accessory>,<Position/String/=/Back>,<Material/String/=/Cotton>,<Size/String/=/Medium>,

<Article/String/=/HandBag>=<Usage/String/=/Accessory>,<Gender/String/=/Female>,<Position/String/=/Hand>,<Material/String/=/Leather>,<Size/String/=/Medium>,

<Article/String/=/Sock>=<Usage/String/=/Protection>,<Usage/String/=/Accessory>,<Position/String/=/Feet>,<Material/String/=/Cotton>,<Length/String/=/Medium>,<Season/String/=/Winter>,

<Article/String/=/Ring>=<Usage/String/=/Accessory>,<Position/String/=/Finger>,<Material/String/=/Metal>,<Size/String/=/Small>,

<Article/String/=/Scarf>=<Usage/String/=/Protection>,<Usage/String/=/Accessory>,<Position/String/=/Neck>,<Material/String/=/Cotton>,<Size/String/=/Medium>,<Length/String/=/Long>

<Article/String/=/Glasses>=<Usage/String/=/Protection>,<Usage/String/=/Accessory>,<Position/String/=/Head>,<Material/String/=/PLastic>,<Size/String/=/Small>,


<Article/String/=/Hat>=<Usage/String/=/Accessory>,<Position/String/=/Head>,<Material/String/=/Cotton>,<Size/String/=/Small>,

<Article/String/=/Cap>=<Usage/String/=/Accessory>,<Season/String/=/Summer>,<Position/String/=/Head>,<Material/String/=/Cotton>,<Size/String/=/Small>,

<Article/String/=/Liquette>=<Usage/String/=/Casual>,<Gender/String/=/Female>,<Position/String/=/Torso>,<Material/String/=/CottonVoile>,<Size/String/=/Long>,

<Article/String/=/Hijab>=<Usage/String/=/Accessory>,<Gender/String/=/Female>,<Position/String/=/Head>,<Material/String/=/CottonVoile>,<Size/String/=/Long>,

<Article/String/=/Bra>=<Article/String/=/Underwear>,<Usage/String/=/Casual>,<Gender/String/=/Female>,<Position/String/=/Torso>,<Material/String/=/Cotton>,<Size/String/=/Medium>,

